@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    background: url(tasarim.webp);
    background-size: cover;
}
.box{
    width: 450px;
    background: darkgrey;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
    border-radius: 40px;

}
.box img{
    border-radius: 50%;
    width: 200px;
    right: 200px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    
}
.box img:hover{
transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;

}
.box p{
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;

}
.box li a:hover{
    color: #b9b9b9;
}